Footer{
  padding: 100px 0;
  background: #080f19;
  width: 100%;
  text-align: center;

nav{
  width: 100%;
  display: inline-block;
  margin: 0 auto 50px;
  text-align: center;



  a{
    color: white;
    display: inline-block;
    padding: 10px 20px 10px 0;

  }

}

.social-media{
color: white;
margin: 0 0 20px;
padding: 0;

li{
  display: inline-block;
  padding: 20px;
  font-size: 1rem;

.fa{
  font-size: 1.4rem;
}

}
}

.copyright{

  color: white;
}



}
